#header {

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "."
                       "text"
                       "."
}

#header > h1 {
  text-align: center;
  grid-area: text;
}