#navigationBlock {
  background-color: #795548;
  height: 100%;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;  
  display: flex;
  flex-direction: row;
}

#navigationBlock #requireStationTip {
  font-size: 1.5em;
  font-weight: bold;
  margin: auto;
  text-align: center;
}

#navigationBlock .sectionName {
  color: #fff;
}

#navigationBlock #currentStation {
  flex: 1;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}

#navigationBlock #priorStations {
  flex: 2.5;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
}

#navigationBlock #nextStations {
  flex: 2.5;
  /* background-color: orange; */
  display: flex;
  flex-direction: column;  
}
