#menu {
  background-color: #795548;
  height: 100%;
  width: 100%;
  margin-right: 10px;
  border-radius: 10px;
  position: relative;
}

#directionSelector {
  position: absolute;
  left: 10%;
  bottom: 10%;
}

#highwaySelector {
  position: absolute;
  right: 10%;
  bottom: 10%;
}

#date {
  margin: 5% 0;
  color: #fff;
  font-size: 1em;
  text-align: center;
}

#time {
  margin: 5% 0;
  color: #fff;
  font-size: 2em;
  text-align: center;
}