#presentationBlock {
  background-color: #BCAAA4;
  height: 100%;
  margin-left: 10px;
  border-radius: 10px;
  display: flex;
}

#presentationBlock > #charts {
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;  
}

#presentationBlock > #charts > #firstRow {
  flex: 1;
  height: 100%;
  display: flex;
}

#presentationBlock > #charts > #firstRow > #amountPredictBarchart {
  flex: 1;
}

#presentationBlock > #charts > #firstRow > #amountPredictPiechart {
  flex: 1;
}

#presentationBlock > #charts > #firstRow > #weather {
  flex: 1;
}

#presentationBlock > #charts > #firstRow > #weather {
  background-color: lightgreen;
}  

#presentationBlock > #charts > #secondRow {
  flex: 1;
  background-color: orchid;
  height: 100%;
}

#presentationBlock > #tip {
  margin: auto;
  text-align: center;
}