#presentationBlock > #charts {
  height: 100%;
}

#presentationBlock > #charts > #firstRow {
  height: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#presentationBlock > #charts > #firstRow > #amountPredictBarchart {

}

#presentationBlock > #charts > #firstRow > #amountPredictBarchart > p {
  text-align: center;
}

#presentationBlock > #charts > #firstRow > #amountPredictPiechart {

}

#presentationBlock > #charts > #firstRow > #amountPredictPiechart > p {
  text-align: center;
}

#presentationBlock > #charts > #firstRow > #amountPredictPiechart > #tip {
  height: 100%;
  padding-top: 30%;
  text-align: center;
}

#presentationBlock > #charts > #firstRow > #weather {
  background-color: lightgreen;
}  

#presentationBlock > #charts > #secondRow {
  background-color: orchid;
  height: 50%;
}

#presentationBlock > #tip {
  height: 100%;
  padding-top: 30%;
  text-align: center;
}