#presentationBlock {
  background-color: #BCAAA4;
  height: 100%;
  margin-left: 10px;
  border-radius: 10px;
  display: flex;
}

#presentationBlock > #rows {
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;  
}

#presentationBlock > #rows .header {
  margin: auto;
  font-size: 15px;
  color: #fff;
}

#presentationBlock > #rows > #predictDataRow {
  flex: 1;
  height: 100%;
  padding-top: 5px;
  border-top: 1px solid #666;
  display: flex;
  flex-direction: column;
}

#presentationBlock > #rows > #predictDataRow > .header {
  flex: 1;
}

#presentationBlock > #rows > #predictDataRow > .charts {
  flex: 7;
  display: flex;
  flex-direction: row;
}

#presentationBlock > #rows > #predictDataRow > .charts > #amountPredictBarchart {
  flex: 1;
}

#presentationBlock > #rows > #predictDataRow > .charts > #amountPredictPiechart {
  flex: 1;
}

#presentationBlock > #rows > #predictDataRow > .charts > #weather {
  flex: 1;
}

#presentationBlock > #rows > #predictDataRow > .charts > #weather {
  background-color: lightgreen;
}  

#presentationBlock > #rows > #realTimeDataRow {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#presentationBlock > #rows > #realTimeDataRow > .header {
  flex: 1;
}

#presentationBlock > #rows > #realTimeDataRow > .charts {
  flex: 7;
  margin: auto;
}

#presentationBlock > #requireStationTip {
  font-size: 2em;
  font-weight: bold;
  margin: auto;
  text-align: center;
}