#event {
  display: flex;
  flex-direction: column;
}

#event > #header {
  flex: 1;
  margin: 3% auto 0 auto;
  font-size: 120%;
  color: #777;
}

#event > #contents {
  flex: 9;
  display: flex;
}

#event > #contents > #tip {
  color: lightgreen;
  margin: auto;
  font-size: 200%;
}

#event > #contents > #eventList {
  margin: auto;
}

#event > #contents > #eventList > #event {
  color: crimson;
  margin: 15px 0;
  font-size: 200%;
}
