#event {
  display: flex;
  flex-direction: column;
}

#event > #header {
  flex: 1;
  margin: 3% auto 0 auto;
  font-size: 1.2em;
  color: #777;
}

#event > #contents {
  flex: 9;
  display: flex;
}

#event > #contents > #tip, #event > #contents > #eventList {
  color: crimson;
  margin: auto;
  font-size: 2em;
}
