#realtimeDataRow {
  display: flex;
  flex-direction: column;
}

#realtimeDataRow > .header {
  flex: 1;
  text-align: center;
}

#realtimeDataRow > .contents {
  flex: 9;
  display: flex;
  flex-direction: row;
}

#realtimeDataRow > .contents > #weather {
  flex: 1;
}

#realtimeDataRow > .contents > #windAndPOP {
  flex: 1;
}

#realtimeDataRow > .contents > #event {
  flex: 1;
}
