#windAndPOP {
  display: flex;
  flex-direction: column;
}

#windAndPOP > #header {
  flex: 1;
  margin: 3% auto 0 auto;
  font-size: 120%;
  color: #777;
}

#windAndPOP > #contents {
  flex: 9;
  display: flex;
  flex-direction: column;
}

#windAndPOP > #contents > #WDSD {
  flex: 1.5;
  width: 90%;
  margin: 10% auto 0 auto;
  border-bottom: 1px solid #aaa;
  display: flex;
  flex-direction: column;
}

#windAndPOP > #contents > #WDSD > #content {
  color: teal;
  text-align: center;
  font-size: 200%;
}

#windAndPOP > #contents > #WDSD > #tip {
  color: lightgreen;
  text-align: center;
  font-style: italic;
  font-size: 120%;
  margin-top: 10%;
}

#windAndPOP > #contents > #POP {
  color: teal;
  flex: 1;
  margin: auto;
  font-size: 200%;
  padding-top: 20%;
}