#windAndPOP {
  display: flex;
  flex-direction: column;
}

#windAndPOP > #header {
  flex: 1;
  margin: 3% auto 0 auto;
  font-size: 1.2em;
  color: #777;
}

#windAndPOP > #contents {
  flex: 9;
  display: flex;
  flex-direction: column;
}

#windAndPOP > #contents > #WDSD {
  flex: 1;
  width: 90%;
  margin: 10% auto 0 auto;
  border-bottom: 1px solid #aaa;
}

#windAndPOP > #contents > #WDSD > #content {
  color: royalblue;
  text-align: center;
  font-size: 2em;
}

#windAndPOP > #contents > #WDSD > #tip {
  color: lightseagreen;
  text-align: center;
  font-style: italic;
  font-size: 1.2em;
  margin-top: 10%;
}

#windAndPOP > #contents > #POP {
  color: turquoise;
  flex: 1;
  margin: auto;
  font-size: 2em;
  line-height: 5em;
}