#app {
  background-color: #009688;
  height: 100vh;
  max-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#app-first-row {
  flex: 1;
  height: calc(15% - 15px);
  margin: 10px 10px 10px;
  display: flex;
  flex-direction: row;
}

#app-first-row > #menu {
  flex: 1;
}

#app-first-row > #navigationBlock {
  flex: 3;
}

#app-second-row {
  flex: 6;
  height: calc(85% - 15px);
  margin: 0 10px 10px;
  display: flex;
  flex-direction: row;
}

#app-second-row > #mapBlock {
  flex: 1;
}

#app-second-row > #presentationBlock {
  flex: 3;
}
