.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas: "header header header header header header header"
    "map map presentation presentation presentation presentation presentation"
    "map map presentation presentation presentation presentation presentation"
    "map map presentation presentation presentation presentation presentation";
}

.container #header {
  grid-area: header;
}

.container #mapBlock {
  background-color: #f2ae72;
  grid-area: map;
}

.container #presentationBlock {
  text-align: center;
  background-color: #f2e394;
  grid-area: presentation;
}