#amountPredictPiechart {
  display: flex;
  flex-direction: column;
}

#amountPredictPiechart > p {
  margin: 3% auto 0 auto;
  font-size: 1.2em;
  color: #777;
}

#amountPredictPiechart > #tip {
  margin: auto;
}