#speedPredict {
  display: flex;
  flex-direction: column;
}

#speedPredict p#header {
  margin: 3% auto 0 auto;
  font-size: 1.2em;
  color: #777;
}

#speedPredict p#content {
  margin: auto;
  font-size: 8em;
}

#speedPredict p span {
  font-size: 0.3em;
}

#speedPredict h1#tip {
  margin: auto;
}